<h2 class="title is-2">All Top Rated Publishers</h2>


  <ol class="ml-5">
    <% @publishers.each do |publisher|%>
      <li><%= link_to publisher.name, publisher %>
      <em>(<%= pluralize publisher.book_count, "Top Book" %>)</em>
      </li>
    <% end %>
  </ol>

